<?xml version="1.0" encoding="utf-8"?>
<!-- Useage: choco install utils.config -y -->
<!-- Upgrades: https://chocolatey.org/docs/commands-upgrade -->

<packages>
  <package id="adobereader" />
  <package id="box-drive" />
  <package id="bulkrenameutility" />
  <package id="calibre" />
  <package id="calibre" />
  <package id="copypathmenu" />
  <package id="coretemp" />
  <package id="cpu-z" />
  <package id="Everything" />
  <package id="foxitreader" />
  <package id="garmin-basecamp" />
  <package id="googledrive" />
  <package id="gpu-z" />
  <package id="handbrake" />
  <package id="hashtab" />
  <package id="irfanview" />
  <package id="irfanview-shellextension" />
  <package id="irfanviewplugins" />
  <package id="iTunes" />
  <package id="mediainfo" />
  <package id="notepadplusplus" forceX86="true" />
  <package id="monitorswitcher" />
  <package id="path-copy-copy" />
  <package id="picpick.portable" />
  <package id="powertoys" />
  <package id="python" />
  <package id="revo-uninstaller" />
  <package id="rufus" />
  <package id="spotify" />
  <package id="steam" />
  <package id="teracopy" />
  <package id="virtualclonedrive" />
  <package id="vlc" />
  <package id="winrar" />
  <package id="win32diskimager" />
  <package id="windirstat" />
  <package id="wiztree" />

  <!-- Browsers -->
  <package id="googlechrome" />
  <package id="Firefox" />
  
  <!-- Development -->
  <package id="dotnetcore-sdk" allowMultipleVersions="true" version="2.2.207" />
  <package id="git" installArguments="/NoAutoCrlf /SChannel"/>
  <package id="fiddler" />
  <package id="FiraCode" />
  <package id="microsoft-windows-terminal" />
  <package id="powershell-core" />
  <package id="ssms" />
  <package id="vscode" />
  <package id="docker-desktop" />
  <package id="GitVersion.Portable" />
  <package id="dngrep" />
  <package id="postman" />
  <package id="servicebusexplorer" />
  <package id="SQLite" />
  <package id="tortoisegit" />
  
</packages>